.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px 50px 0px;
    background-color: #FFFFFF;
  }
  
  .logo-container {
    height: 68px;
    width: 210.32px;
  }
  
  .navbar {
    display: flex;
    gap: 70px;
    list-style: none;
    font-size: 24px;
    font-weight: 500;
  }
  
  .navbar a {
    color: #FF6060;
    text-decoration: none;
  }
  
  .navbar a.active {
    position: relative;
}

.navbar a.active::after {
    content: "";
    position: absolute;
    bottom: 2px; 
    left: 0;
    width: 100%;
    border-bottom: 2px solid #FF6060;
}
