.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px 50px 0px;
    background-color: #FFFFFF;
  }
  
  .logo-container {
    height: 68px;
    width: 210.32px;
  }
  
  .navbar {
    display: flex;
    gap: 70px;
    list-style: none;
    font-size: 24px;
    font-weight: 500;
  }
  
  .navbar a {
    color: #FF6060;
    text-decoration: none;
  }
  
  .navbar a.active {
    border-bottom: 1px solid #FF6060; /* Ajoutez la couleur souhaitée ici */
}
  