.footer {
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
    margin-left: -60px; /*pour faire échapper le footer au margin du body*/
    margin-right: -60px;
  }
  
  .footer p {
    margin-top: 10px;
  }

  .logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }