.not-found {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #FF6060;
}

.not-found__title {
    font-size: 288px;
    margin: 50px 0px 0px 0px;
}

.not-found__text {
    font-size: 36px;
    margin: 20px 0px 50px 0px;
}

.not-found__link {
    font-size: 18px;
    color: inherit;
    margin: 100px 0px 50px 0px;
    position: relative;
    text-decoration: none;
}

.not-found__link::after {
    content: "";
    position: absolute;
    width: 100%;
    border-bottom: 1px solid currentColor;
    bottom: 2px; 
    left: 0;
}
